/node_modules/
/test-example/
user.js
App.spec.js
example.spec.js

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
